
services:
  backend:
    command: flask run --host=0.0.0.0 --port=8000
    volumes:
      - ./backend:/app
    environment:
      FLASK_ENV: development

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  opensearch:
    ports:
      - "9200:9200"
      - "9600:9600"

  opensearch-dashboards:
    ports:
      - "5601:5601"
